<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123178215256-j9i817r50kplr37a6513ie8efh13a3j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123178215256-j9i817r50kplr37a6513ie8efh13a3j5</string>
	<key>API_KEY</key>
	<string>AIzaSyB5ufS_UEyWMGfAjzUv81jhbQnk_dgxpjg</string>
	<key>GCM_SENDER_ID</key>
	<string>123178215256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nikita.CoupleAnimal</string>
	<key>PROJECT_ID</key>
	<string>doggymeet-7b693</string>
	<key>STORAGE_BUCKET</key>
	<string>doggymeet-7b693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123178215256:ios:70ba47e83d2db53802a72d</string>
</dict>
</plist>